/* main structure */

body {
    background-image: url('./background.gif');
    color: #FFF;
}

#header .container {
    background-image: url('./header_br.png');
    background-size: auto 100%;
    max-width: unset;
    padding: 0;
}

#main {
    background-image: url('./sidebar.gif');
    background-repeat: repeat-y;
}

/* nav */

#nav-checkbox {
    position: fixed;
    right: -100%;
    top: -100%;
}

#nav {
    background-color: #2236AC;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    height: 100%;
    overflow-y: auto;
    position: fixed;
    right: calc(-100% / 3);
    top: 0;
    transition: right 0.25s ease;
    width: calc(100% / 3);
    z-index: 2;
}

#nav-checkbox:checked ~ #nav {
    right: 0;
}

#nav dt {
    background-color: #000070;
}

#nav dt,
#nav dd
{
    margin: 0;
    padding: 0.25em 1em;
}

label[for="nav-checkbox"] {
    margin: 0;
}

@media (max-width: 991.98px) {
    #nav {
        right: -100%;
        width: 100%;
    }
}

/* links */

a {
    color: #FF0;
}

a:hover {
    color: #0F0;
    text-decoration: none;
}

/* cards */

.card {
    background-color: #2236AC;
}

.card-header {
    background-color: #000070;
}

.card-footer {
    background-color: #000059;
}