@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.tag {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  color: #FFF;
  display: inline-block;
  font-size: 0.75em;
  font-weight: bold;
  margin: 0.125em 0;
  padding: 0.25em; }
  .tag [class*="fa-"] {
    font-weight: normal; }

.card {
  background-color: #2236AC;
  border-radius: 0; }
  .card .card-header,
  .card .card-footer {
    background-image: url("../images/menutitlebg.png"); }

.flex {
  display: flex; }

.flex-center {
  align-items: center; }

.flex-grow {
  flex-grow: 1; }

.list-tags li {
  display: inline-block; }

ul[class*="list-"] {
  list-style: none;
  margin: 0;
  padding: 0; }

ul[class*="list-content-"] > li:not(:last-of-type) {
  margin-bottom: 2em; }

body {
  background-color: #000000;
  background-image: url("../images/background.gif"); }

#header {
  background-image: url("../images/header_br.png");
  background-repeat: repeat-x;
  background-size: auto 100%; }
  #header #logo {
    max-width: 100%; }

nav {
  background-image: url("../images/menutitlebg2.png"); }
  nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li a {
      display: block;
      padding: 0.5em;
      text-transform: uppercase; }
    nav ul li a:hover {
      background-color: rgba(0, 0, 0, 0.25); }

.thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 56.25%;
  position: relative; }

.thumbnail-blur {
  position: relative;
  overflow: hidden; }

.thumbnail-blur::after {
  background: inherit;
  background-color: rgba(0, 0, 0, 0.25);
  background-size: contain;
  content: "";
  filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.25));
  height: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  position: absolute;
  width: 100%; }

body {
  color: #FFF;
  font-size: 18px; }

a {
  color: #FFF600;
  font-weight: bold;
  transition: all 0.25s ease; }

a:hover {
  color: #00FF00;
  text-decoration: none; }

h1#page-title {
  color: #FFF;
  padding: 0.5em 0;
  text-align: center;
  text-transform: uppercase; }

.content-update-small .card-header h2 {
  font-size: 1.25em;
  margin: 0; }

.content-update-small .card-footer .list-update-meta-links li {
  padding-right: 0.5em; }

.content-update-submissions h3 {
  border-bottom: 2px solid #000090;
  font-family: 'Press Start 2P';
  text-shadow: 0.125em 0.125em 0 #000090; }

.content-update-submissions .list-update-submissions {
  margin-bottom: 1em; }
  .content-update-submissions .list-update-submissions .content-update-submission {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.25);
    margin-bottom: 2em;
    padding: 0.5em;
    transition: all 0.25s ease; }
    .content-update-submissions .list-update-submissions .content-update-submission .content-update-submission-big-icon {
      display: block;
      flex-shrink: 0;
      font-size: 4em;
      text-align: center;
      width: 1.5em; }
    .content-update-submissions .list-update-submissions .content-update-submission .thumbnail {
      margin-bottom: 0.5em; }
      .content-update-submissions .list-update-submissions .content-update-submission .thumbnail .game-badge {
        background-color: #000000;
        font-family: 'Press Start 2P';
        padding: 0.5em;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1; }
    .content-update-submissions .list-update-submissions .content-update-submission h4 {
      font-size: 1.1em;
      margin-bottom: 0; }
  .content-update-submissions .list-update-submissions .content-update-submission:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25); }
    .content-update-submissions .list-update-submissions .content-update-submission:hover .thumbnail .game-badge {
      opacity: 0; }

.profile.profile-link {
  display: inline-block; }

.profile.group-admin a {
  color: #E60001; }

.profile-rank {
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  color: #FFF;
  display: inline-block;
  font-family: 'Press Start 2P';
  font-size: 0.75em;
  padding: 0.25em 1em;
  text-shadow: 0 0 8px #000000;
  text-transform: uppercase; }

.profile-rank.profile-rank-admin {
  background-color: #E60001; }

.profile-small {
  text-align: center; }
  .profile-small a {
    display: block; }
  .profile-small a,
  .profile-small > div {
    margin-bottom: 0.5em; }

/*# sourceMappingURL=frontend.css.map */