.profile-rank {
	border-bottom: 2px solid $color-black-transparent;
	border-top: 2px solid $color-white-transparent;
	color: $color-white;
	display: inline-block;
	font-family: 'Press Start 2P';
	font-size: 0.75em;
	padding: 0.25em 1em;
	text-shadow: 0 0 8px $color-black;
	text-transform: uppercase;
}

.profile-rank.profile-rank-admin {
	background-color: $color-red;
}