@media (max-width: 991.98px) {
	.pagination-links {
		.row {
			.pagination-column-list {
				order: 3;
			}
			
			.pagination-column-next {
				order: 2;
			}
			
			.pagination-column-previous {
				order: 1;
			}
		}
	}
}