# Config
.env
/app/config/parameters.yml

# Process
/.web-server-pid

# Logs
*.log
lumasms/logs

# Vendor
node_modules
vendor

# Cache
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
*.cache

# Tools
adminer.php
phpunit.phar
composer.phar

# Sensitive Data
docker/apache/server.crt
docker/apache/server.key

# Compiled Assets
/build/
/web/bundles/
