# Simple .htaccess that should redirect requests to the `public` directory
<IfModule mod_rewrite.c>
  Options -MultiViews -Indexes
  RewriteEngine On

  RewriteRule ^/?favicon\.ico public/favicon.ico [R,L]

  # Default
  RewriteRule ^$ public/index.php [QSA,L]

  # Files & Directories
  RewriteCond %{REQUEST_URI} !^/?public/
  RewriteCond %{REQUEST_URI} !\.php$
  RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -d
  RewriteRule ^(.+)$ public/$1 [QSA,L]

  # Run the site code
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(.+)$ public/index.php?/$1 [QSA,L]
</IfModule>
