<h2>Settings</h2>
<form action="{{ action }}" method="POST">
  <input type="hidden" name="compatible" value="{{ compatible }}" />

  <div class="form-item">
    <label for="thumbnail_directory">Thumbnail Directory</label>
    <input type="text" id="thumbnail_directory" name="thumbnail_directory"
      disabled="disabled" value="{{ thumbnail_directory }}" required="required" />
  </div>

  <div class="form-item">
    <label for="file_directory">File Directory</label>
    <input type="text" id="file_directory" name="file_directory"
      disabled="disabled" value="{{ file_directory }}" required="required" />
  </div>

  <div class="form-item">
    <label for="session_hotlink_protection">Session Hotlink
      Protection</label>
    <input type="text" id="session_hotlink_protection" name="session_hotlink_protection"
      disabled="disabled" value="{{ session_hotlink_protection }}"
      required="required" />
  </div>

  <div class="form-item">
    <label for="db_host">Database Host</label>
    <input type="text" id="db_host" name="db_host" value="{{ db_host }}"
      required="required" />
  </div>

  <div class="form-item">
    <label for="db_name">Database Name</label>
    <input type="text" id="db_name" name="db_name" value="{{ db_name }}"
      required="required" />
  </div>

  <div class="form-item">
    <label for="db_user">Database Username</label>
    <input type="text" id="db_user" name="db_user" value="{{ db_user }}"
      required="required" />
  </div>

  <div class="form-item">
    <label for="db_pass">Database Password</label>
    <input type="text" id="db_pass" name="db_pass" value="{{ db_pass }}"
      required="required" />
  </div>

  <div class="form-item">
    <label for="db_prefix">Database Prefix</label>
    <input type="text" id="db_prefix" name="db_prefix" value="{{ db_prefix }}"
      disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="date_format">Date Format</label>
    <input type="text" id="date_format" name="date_format" value="{{ date_format }}"
      disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="date_setting">Date Setting</label>
    <input type="text" id="date_setting" name="date_setting" value="{{ date_setting }}"
      disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="login_attempts_max">Maximum Login Attempts</label>
    <input type="text" id="login_attempts_max" name="login_attempts_max"
      value="{{ login_attempts_max }}" disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="login_attempts_wait">Maximum Login Attempts Period
      (in seconds)</label>
    <input type="text" id="login_attempts_wait" name="login_attempts_wait"
      value="{{ login_attempts_wait }}" disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="username_min_length">Minimum Username Length</label>
    <input type="text" id="username_min_length" name="username_min_length"
      value="{{ username_min_length }}" disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="username_max_length">Maximum Username Length</label>
    <input type="text" id="username_max_length" name="username_max_length"
      value="{{ username_max_length }}" disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="password_min_length">Minimum Password Length</label>
    <input type="text" id="password_min_length" name="password_min_length"
      value="{{ password_min_length }}" disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="password_max_length">Maximum Password Length</label>
    <input type="text" id="password_max_length" name="password_max_length"
      value="{{ password_max_length }}" disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="limit_per_page">Maximum Items Per Page</label>
    <input type="text" id="limit_per_page" name="limit_per_page"
      value="{{ limit_per_page }}" disabled="disabled" required="required" />
  </div>

  <div class="form-item">
    <label for="site_name">Site Name</label>
    <input type="text" id="site_name" name="site_name" value="{{ site_name }}"
      required="required" />
  </div>

  <div class="form-item">
    <label for="site_abbr">Site Abbreviation</label>
    <input type="text" id="site_abbr" name="site_abbr" value="{{ site_abbr }}"
      required="required" />
  </div>

  <button type="submit" class="continue-button">
    Continue &rarr;
  </button>
</form>
