<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ css_url }}" />
    <title>LumaSMS Installer</title>
  </head>

  <body>
    <header id="header">
      <section>
        <div class="container">
          <h1>
            LumaSMS Installer
          </h1>
        </div>
      </section>
    </header>
    <main role="main" class="container">
      {{ alerts }}
      {{ content }}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-primary">
          <i class="fas fa-star"></i>
          Powered by
          <a class="text-primary" href="https://github.com/mario-fan-games-galaxy/LumaSMS">
            LumaSMS
          </a>
          .
        </span>
      </div>
    </footer>
  </body>

</html>
