.btn {
	
}

.tag {
	[class*="fa-"] {
		font-weight: normal;
	}
	
	background-color: $color-black-transparent;
	border-radius: 0.25em;
	color: $color-white;
	display: inline-block;
	font-size: 0.75em;
	font-weight: bold;
	margin: 0.125em 0;
	padding: 0.25em;
}