.list-tags {
	li {
		display: inline-block;
	}
}

ul[class*="list-"] {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul[class*="list-content-"] {
	> li:not(:last-of-type) {
		margin-bottom: 2em;
	}
}