.list-comments {
	li {
		margin-bottom: 2em;
	}
}

.list-pagination-links {
	li {
		display: inline-block;
		margin-bottom: 1em;
	}
}

.list-tags {
	li {
		display: inline-block;
	}
}

ul[class*="list-"] {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

ul[class*="list-content-"] {
	> li {
		margin-bottom: 2em;
	}
}