body {
	background-color: $color-black;
	background-image: url('../images/background.gif');
}

#header {
	background-image: url('../images/header_br.png');
	background-repeat: repeat-x;
}

#nav {
	ul {
		li {
			a {
				display: block;
				padding: 0.5em;
				text-transform: uppercase;
			}
			
			a:hover {
				background-color: $color-black-transparent;
			}
		}
		
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	background-image: url('../images/menutitlebg2.png');
}