// ROOT

body {
	color: $color-white;
	font-family: 'Montserrat';
	font-size: 18px;
}





// LINKS

a {
	color: $color-yellow;
	font-weight: bold;
	transition: all 0.25s ease;
}

a:hover {
	color: $color-green;
	text-decoration: none;
}





// HEADERS

h1#page-title {
	color: $color-white;
	font-family: 'Super Mario 256';
	font-size: 64px;
	font-weight: normal;
	letter-spacing: 0.1em;
	padding: 0.5em 0;
	text-align: center;
	text-shadow:
		4px 4px 0 $color-blue-dark,
		-4px -4px 0 $color-red
	;
	text-transform: uppercase;
}