// ROOT

body {
	color: $color-white;
	font-family: 'Montserrat';
	font-size: 18px;
}





// LINKS

a {
	color: $color-yellow;
	font-weight: bold;
	transition: all 0.25s ease;
}

a:hover {
	color: $color-green;
	text-decoration: none;
}





// HEADERS

h1#page-title {
	color: $color-white;
	font-family: 'Super Mario 256';
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 0.1em;
	padding: 1em 0;
	text-align: center;
	text-shadow: $text-shadow-3D;
	text-transform: uppercase;
}

h2 {
	font-size: 36px;
}

h2.card-header {
	font-family: 'Super Mario 256';
	text-shadow: $text-shadow-3D;
}

h3 {
	font-size: 24px;
}





// UTILITIES

.text-shadow-3D {
	text-shadow: $text-shadow-3D;
}