$color-black: #000000;
$color-black-transparent: rgba(0, 0, 0, 0.25);

$color-blue: #2236AC;

$color-green: #00FF00;

$color-red: #E60001;

$color-yellow: #FFF600;

$color-white: #FFF;
$color-white-transparent: rgba(255, 255, 255, 0.25);