html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#main {
    flex-grow: 1;
    padding: 2em 0;
}

.card,
.card .card-header,
.card .card-footer
{
    border-width: 0;
    border-radius: 0;
}