# Ignore everything in this directory
/*
# Except this file
!.gitignore
# And these directories
!/file
/file/*
!/file/1
!/file/2
!/file/3
!/file/4
!/file/5
!/file/6
!/thumbnail
/thumbnail/*
!/thumbnail/1
!/thumbnail/2
!/thumbnail/3
!/thumbnail/4
!/thumbnail/5
!/thumbnail/6
